@use "../../styles/variables" as *;
@use "../../styles/media" as *;

.social {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;

  &__item {
    border: 1px solid $line;
    padding: 8px 10px;
    border-radius: 999px;
    font-size: 21px;
    line-height: 1;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
  &__icon {
    vertical-align: middle;
    width: 50px;
    height: auto;
    @include mobile {
      width: 20px;
    }
  }
}
