@font-face {
  font-family: KazukiReiwa;
  src:
    url("/fonts/KazukiReiwa-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: KazukiReiwa;
  src:
    url("/fonts/KazukiReiwa-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;

}
