@use "../styles/variables" as *;

.lp {
  min-height: calc(100vh - 64px);
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 18px;
  position: relative;
  z-index: 10;

  &__title {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
    text-align: center;
    padding: 0 12px;
  }
  &__center {
    display: grid;
    place-items: center;
    padding-top: 24px;
  }

  &__photo {
    margin: 0;
    width: min(520px, 92vw);
    border-radius: $radius;
    overflow: hidden;
    border: 1px solid $line;
    background: rgba(255, 255, 255, 0.02);
  }

  &__bottom {
    padding-bottom: 10px;
  }
}
