---
import BaseLayout from "../layouts/AppLayout/AppLayout.astro";
import SocialLinks from "../components/SocialLinks/SocialLinks.astro";
import RainOverlay from "../components/RainOverlay/RainOverlay.astro";
import "../styles/index.scss";
import { news, type News } from "../data/news";
import NewsList from "../components/NewsList/NewsList.astro";

let latestNews = news.slice(0, 3);

let formatNews = (latestNews: News[]) => {
  return latestNews.map((n: News) => {
    return {
      datetime: n.datetime,
      title: n.title,
      details: n.details,
    };
  });
};
---

<BaseLayout title="石蹴り遊び">
  <RainOverlay />

  <section class="lp">
    <div class="lp__center">
      <!-- <img
        class="lp__logo"
        src="rayuela-icon.svg"
        alt="Rayuela"
        width="400"
        height="auto"
        loading="eager"
      /> -->
        <img src="img/ishikeriasobi_1.jpeg" alt="Press photo" loading="eager"
        class="lp__photo" />
    </div>

    <h2 class="lp__news-title">Latest News</h2>
    <NewsList news={formatNews(latestNews)} />
    <div class="lp__bottom"></div>
    <div class="lp__credits">
      <div class="lp__credit-item">
        Photo by <a
          href="https://www.instagram.com/tamura_shotaro/"
          target="_blank"
          rel="noopener noreferrer">Shotaro Tamura</a
        >
      </div>
      <div class="lp__credit-item">
        Fonts by <a
          href="https://github.com/KazukiKimuraJP/KazukiReiwa?tab=readme-ov-file"
          target="_blank"
          rel="noopener noreferrer">Kazuki Reiwa</a
        >
      </div>
    </div>
  </section>
</BaseLayout>
