---
import BaseLayout from "../layouts/AppLayout/AppLayout.astro";
import "../components/ScheduleList/ScheduleList.scss";
---

<BaseLayout title="Schedule | 石蹴り遊び">
  <h1>Schedule</h1>
  <section class="schedules" id="schedule-list">
    <p>読み込み中…</p>
  </section>
</BaseLayout>

<script src="../scripts/loadSchedule.ts"></script>
