.rain {
  position: fixed;
  inset: 0;
  z-index: 5;
  pointer-events: none;

  .rain__host {
    position: absolute;
    inset: 0;
  }
  &__host,
  canvas {
    width: 100%;
    height: 100%;
    display: block;
  }
}
